<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-content main-login-form">
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username or password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>

    <div class="login-form">
    <div class="login-container">
    <form th:action="@{/login}" method="post" class="login-form-horizontal">
        <div class="form-group">
            <label>Email: <input type="text" name="username" class="form-control"/></label>
        </div>
        <div class="form-group">
            <label>Password: <input type="password" name="password" class="form-control"/></label>
        </div>
        <div class="form-group">
            <input type="submit" value="Log In" class="btn"/>
        </div>
    </form>
    </div>

    <div class="divider">
        <span>OR</span>
    </div>

    <div>
        <a th:href="@{/register}">Register new account</a>
    </div>
    </div>
</div>

</body>
</html>